replicaCount: 1

frontend:
  image:
    repository: nginx
    tag: 1.16.0
  service:
    type: LoadBalancer
    port: 80

backend:
  image:
    repository: hashicorp/http-echo
    tag: 0.2.3
  service:
    type: ClusterIP
    port: 8080

resources: {}
